<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>SASCII</title>

  <!-- CSS  -->
  <link href="../css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="pink" role="navigation">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="index.html" class="brand-logo">SASCII</a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="#">How to?</a></li>
          <li><a href="credits.html">Credits</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
  <div class="section no-pad-bot" id="divInput">
    <div class="container">
      <br>
      <div class="row">
        <div class="col s12 m12">
          <div class="card purple z-depth-3">
            <div class="card-content white-text">
              <span class="card-title">Step I</span>
              <p>Type your text into the textbox provided and select a font.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
          <div class="card deep-orange z-depth-4">
            <div class="card-content white-text">
              <span class="card-title">Step II</span>
              <p>Click the 'Generate' button.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
          <div class="card cyan z-depth-5">
            <div class="card-content white-text">
              <span class="card-title">Step III</span>
              <p>Woaaaalllaaa!! ASCII art!</p>
              <p>Go ahead, hit copy. Enjoy!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
            
      
    </div>
  </div>

  <!--  Scripts-->
  <script src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.min.js"></script>
  <script src="../js/figlet.js"></script>
  <script src="../js/jquery.figlet.js"></script>
  <script src="../js/init.js"></script>
</body>
</html>